body {
  margin: 0;
  padding: 0;
  background-color: #6e568d;
  /* overflow-x: hidden; */
  scrollbar-gutter: stable; 
  font-family: Agrandir-WideLight, sans-serif;
}

@font-face {
  font-family: 'Agrandir-WideLight';
  src: url('fonts/Agrandir-WideLight.otf') format('opentype'),
       url('fonts/Agrandir-WideLight.woff') format('woff'),
       url('fonts/Agrandir-WideLight.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Agrandir-WideLight';
}
      
p {
font-family: 'Agrandir-WideLight';
}

.navbar {
  overflow: hidden; 
  background-color: #a18eff;
  text-align: center; /* text is centered*/
  position: fixed; 
  top: 0; /* there is no space at the top*/
  width: 100%; /* makes it maxed out to the sides */
  height: 100px;
  font-weight: bold; 
  z-index: 1;
  
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a {
  display: inline-block;
  color: #000000;  /* text color in the bar */ 
  padding: 20px 130px; /* determines the padding for the top and down, and the left and right. */
  text-decoration: none; /* makes sure there is no underline on the text */ 
}

.navbar a:hover { /* when you hover over text the color changes */ 
  background-color: #2b00ff;  
  color: rgb(255, 255, 255);
}

.brandname {
  margin-top: -100px;
  padding-left: 1px;
  margin-bottom: -300px;
  text-align: center;
    
}

.logo {
  margin-top: -100px;
  text-align: center;
  padding-bottom: 30px;
    
}

.underlogosocials {
  display: flex;
  margin-top: -50px;
  text-align: center;
  padding: 20px;
  height: 50px;
  width: 50px;
  margin-left: 730px;
  
}

.color1block { /* block where the music is playing */ 
  background-color: #6e568d;
  padding-top: 15px;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: auto; /* scrolling */ 
  margin-top: 2px; 
  margin-bottom: -160px; /* fix that small space that hides in the side scroll */ 
  display: flex;
}

.color1block p {
  /* margin-top: 10px; */
  font-size: 25px;
  text-align: center;
  color: black;
  font-family: 'agrandir';
}

/*.audio-container { no need for an audio player class 
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
} */

.popout img {
  /* Set maximum width for images */
   /* Maintain aspect ratio */
   /* Add margin around each image */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.popout img:hover {
  transform: scale(1.1); /* Scale up the image */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); /* Add a shadow */
}

.aboutcontainer{
  background-image: url(images/background2.png);
  background-size: cover; 
  background-position: center;
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  display: flex;
  align-items: center;
  margin-bottom: -16px;
  margin-top: 160px;
  align-items: center;
}

/* no longer needed, we do not use the bigger picture 
.image-container { 
  overflow-x: auto; Enable horizontal scrolling 
  white-space: nowrap; Prevent line breaks 
  background: #2b00ff; 
  margin-right: 10px; 
 } 
 */

/* no longer needed, we do not use the bigger picture 
.image-container img {
  display: inline-block;  Display images horizontally 
}
*/

.aboutimage {
  width: 200px; /* Set maximum width for the image */
  height: 800px; /* Maintain aspect ratio */
  margin-right: 20px; /* Add margin to create space between image and text */
}

.abouttext {
  flex-grow: 1; /* Allow text to grow to fill remaining space */

}

/* no longer needed
.merchcontainer{
  width: 100%;
  height: 880px;
}
*/

.aboutimages123 {
  margin: 30px;
  height: 500px;
  width: 350px;
}

/* not wanted 
.aboutcontainer p {
  background-color: rgb(171, 164, 255);
  display: inline-block;
} 
*/

.contactcontainer{
  background-color: #402e58;
  background-size: cover; 
  background-position: center;
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  display: flex;
  align-items: center;
  
}

.contactcontainer p {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-link {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #402e58;
  font-size: 18px;
}

.social-logo {
  width: 400px;
  height: 250px;
  margin-right: -130px;
  margin-bottom: 50px;
}

.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 550px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
